body {
  margin: 0;
  padding: 0;
  font-family: VAGRounded;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-container{
  margin-top: 60px; 
}

.profMainContainer{
  margin-top: 60px;
}

#prof-title{
  text-align:center;
}

.title{
 text-align: center;
}

#doggy{
  margin-top: auto;
  width:40%;

}